body{
	background-color: #E6E6FA;
	}
.header {
  width: 100%;
  padding: 2%;
  background-color: #46b05a;
  border: 5px outset red;
  color: white;
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: #79848a;
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}
